
<footer>
    <div class="container">
       <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
       <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
       <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
       <a href="mailto:123@mailinator.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
       <br><br><br>
       <p class="text-center">Copyright © 2017 | Project 1</p>
    </div>
  </footer>